@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 /* border: 1.5px solid #1a73e8; */
}

.input:focus + .user-label, .input:valid + .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0 .2em;
    font-size: 18px;
  }

.input:focus + .user-label {
    color: #1EAC4F; /* Change to your desired blue color */
    font-size: 18px;
}

/* inspired form gumroad website */
.button {
  --bg: #2F4858;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  padding: 0.8em 2em;
  transition: 0.2s;
}

.button:hover {
  /* color: var(--hover-text); */
  transform: translate(-0.25rem,-0.25rem);
  /* background: var(--hover-bg); */
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}


.input-with-shadow {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.loader {
  width: 60%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader::before {
  content: "";
  position: absolute;
  background-color: rgb(9, 188, 9);
  width: 0%;
  height: 100%;
  border-radius: 2px;
  animation: load 3.5s ease-in-out infinite;
}

.container {
  display: flex;
  justify-content: center;
}

@keyframes load {
  50% {
    width: 100%;
  }

  100% {
    right: 0;
    left: unset;
  }
}

.loadingbtn {
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-right: 0.5rem;
}


.loadingbtn svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
  animation: spin_357 1s linear infinite;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}