@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
 outline: none;
 /* border: 1.5px solid #1a73e8; */
}

.input:focus + .user-label, .input:valid + .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0 .2em;
    font-size: 18px;
  }

.input:focus + .user-label {
    color: #1EAC4F; /* Change to your desired blue color */
    font-size: 18px;
}

/* inspired form gumroad website */
.button {
  --bg: #2F4858;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  padding: 0.8em 2em;
  transition: 0.2s;
}

.button:hover {
  /* color: var(--hover-text); */
  transform: translate(-0.25rem,-0.25rem);
  /* background: var(--hover-bg); */
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

